
<strong><h5 class="lead mb-3">Closed Tickets</h5></strong>
<br>

{{#ifEquals userType "Admin"}}
    {{#each ticketsAll}}
        {{#ifEquals status "Closed"}}
        <table class="table table-hover">
        <thead>
            <tr class="table-active">
            <th scope="col">Ticket ID</th>
            <th scope="col">Ticket Title</th>
            <th scope="col">Status</th>
            <th scope="col">Priority</th>
            <th scope="col">Reported by</th>
            <th scope="col">Assigned To</th>
            <th scope="col">When</th>
            {{!-- <th scope="col"></th>
            <th scope="col"></th> --}}
            </tr>
        </thead>
        <tbody>
                <tr class="taable-default">
                <th scope="row"><a href="/tickets/{{_id}}">{{_id}}</a></th>
                <td>{{title}}</td>
                <td><span class="dash-status">{{status}}</span></td>
                <td>{{priority}}</td>
                <td>{{created_by}}</td>
                <td>{{assignedTo}}</td>
                <td>{{formatDate createdAt 'MMMM Do YYYY, h:mm:ss a'}}</td>
                {{!-- <td></td>
                <td></td> --}}
                </tr>
        </tbody>
        </table>
                
        {{/ifEquals}}
    {{/each}}
{{else}}

    {{#each tickets}}
        {{#ifEquals status "Closed"}}
        <table class="table table-hover">
        <thead>
            <tr class="table-active">
            <th scope="col">Ticket ID</th>
            <th scope="col">Ticket Title</th>
            <th scope="col">Status</th>
            <th scope="col">Assigned To</th>
            <th scope="col">When</th>
            {{!-- <th scope="col"></th>
            <th scope="col"></th> --}}
            </tr>
        </thead>
        <tbody>
                <tr class="taable-default">
                <th scope="row"><a href="/tickets/{{_id}}">{{_id}}</a></th>
                <td>{{title}}</td>
                <td><span class="dash-status">{{status}}</span></td>
                <td>{{assignedTo}}</td>
                <td>{{formatDate createdAt 'MMMM Do YYYY, h:mm:ss a'}}</td>
                {{!-- <td></td>
                <td></td> --}}
                </tr>
        </tbody>
        </table>
        {{/ifEquals}}
    {{/each}}

{{/ifEquals}}
